
<div class="main-page">
    <div class="container-home">
        <img src="assets/images/logoBorder.png" alt="" class="background-logo-border">
        <div class="overlay-content">
            <img src="assets/images/Synthonize.png" alt="Synthonize" class="overlay-image">
            <p class="slogan">Sintonizando sua mente com sua música</p>
            <div class="button-container">
                <button class="login-button spotify-button" (click)="login()">
                    <img src="assets/images/spotify-icon.png" alt="Spotify Logo" class="button-icon">
                    Login com Spotify
                </button>
            </div>
        </div>
    </div>
  </div>
