<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Synthonize</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito'>
</head>
<body class="main-page">
    <div class="container-home">
        <img src="assets/images/logoBorder.png" alt="" class="background-logo-border">
        <div class="overlay-content">
            <img src="assets/images/Synthonize.png" alt="Synthonize" class="overlay-image">
            <p class="slogan">Sintonizando sua mente com sua música</p>
            <div class="button-container">
                <a routerLink="/recommendations" style='text-decoration: none'>
                    <button class="login-button spotify-button">
                        <img src="assets/images/spotify-icon.png" alt="Spotify Logo" class="button-icon">
                        Login com Spotify
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>