
  <div class="container-recommendation">
    <div class="dropdown">
        <h1>Recomendações</h1>
        <p>Selecione até 5 gêneros musicais:</p>
        <ng-multiselect-dropdown
            [placeholder]="'custom placeholder'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <br>   
        <h2>Selecione as features:</h2>
        <div class="features-container">
            <p class="feature-name">Dançabilidade:</p>
            <div class="info-button-container">
                <button class="info-button">?</button>
                <span class="tooltip">Indica o quão dançável a música é.</span>
            </div>
        </div>
        <input type="range" min="0" max="100" value="50">
        <br>
        <div class="features-container">
            <p class="feature-name">Energia:</p>
            <div class="info-button-container">
                <button class="info-button">?</button>
                <span class="tooltip">Indica a intensidade e atividade. Normalmente, as faixas mais enérgicas são rápidas e barulhentas.</span>
            </div>
        </div>
        <input type="range" min="0" max="100" value="50">
        <br>
        <div class="features-container">
            <p class="feature-name">Instrumentalidade:</p>
            <div class="info-button-container">
                <button class="info-button">?</button>
                <span class="tooltip">Prevê se uma faixa não contém vocais (sons "Ooh" e "aah" são tratados como instrumentais neste contexto). Raps, por exemplo, são "vocais". 
                    Quanto mais alta a instrumentalidade, maior a probabilidade de a faixa não conter "vocaliade".
                </span>
            </div>
        </div>
        <input type="range" min="0" max="100" value="50">
        <div class="features-container">
            <p class="feature-name">Velência:</p>
            <div class="info-button-container">
                <button class="info-button">?</button>
                <span class="tooltip">Uma medida que descreve a positividade musical transmitida por uma faixa (músicas felizes, por exemplo, têm valências altas). </span>
            </div>
        </div>
        <input type="range" min="0" max="100" value="50">
        <button class="generate-button" (click)="onGenerateRecommendation()">Gerar Recomendações</button>
        <div *ngIf="showMoreInfo" class="additional-info">
            <h2>Musicas Recomendadas:</h2>
            <ul>
                <li>
                    <p>Nome da Musica 1</p>
                    <p class="artist-name">Artista 1</p>
                </li>
                <li>
                    <p>Nome da Musica 2</p>
                    <p class="artist-name">Artista 2</p>
                </li>
            </ul>
            <br>
            <p>Insira um nome para a Playlist:</p>
            <input type="text" placeholder="Nome da Playlist">
            <br>
            <button class="generate-button">Criar Playlist</button>
        </div>
    </div>
  </div>
