<header class="header-container">
  <div class="logo-container-normal">
      <img src="assets/images/logoNormal.png" alt="Logo" class="logo-image">
      <div class="logo-name-container">
          <img src="assets/images/Synthonize.png" alt="Synthonize" class="logo-name">
          <p class="tiny-slogan">Sintonizando sua mente com sua música</p>
      </div>
  </div>
  <nav>
      <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Em breve</a></li>
          <li><a href="#">Em breve</a></li>
      </ul>
  </nav>
</header>
